body{
  font-family: Arial;
	font-size: 15px;
	text-align: justify;
	line-height: 24px;
	color: #656565;  
}

.hlavicka {
	position: relative;
	height: 450px;
	padding: 0 20%;
	background-image: url("bg.jpg");
	background-repeat: repeat;
}

#hlavny_obsah {
	position: relative;
	margin-top: -60px; 
	padding: 0 20% 20px;
}

#pata {
	position: relative;
	bottom: 0px; 
	background-image: url("footer_bg.gif");
	background-repeat: repeat;
	height: 300px;
	padding: 3px 20%;
}

#itw_nadpis {  
	position: relative;
	text-decoration: none;
	color: white;
	font-size: 50px;
	font-family: Helvetica;
	top: 40px;
}

#itw_nadpis_dlhy {
	position: relative;
	color: #d5a17c;
	font-size: 25px;
	font-family: Helvetica;
	top: 30px;
}

#opredmete {
	position: relative;
	color: #b15e23;
	font-size: 25px;
	top: 60px;
}

.nav_panel {
	position: relative;
	top: 60px;
	left: -60px;
	margin-left: 20px;
	display: inline;
}

.nav_polozka {
	text-decoration: none;
	font-size: 15px;
	color: #f8f9f9;
}


#popis_predmetu {
	position: relative;
	top: 80px;
}

.nadpis_sekcie {
	position: relative;
	color: #b15e23;
	padding-bottom: 60px;
	font-size: 25px;
	top: 65px;
}

.txt {
  margin-left: 10px;
}

.pata_nadpis {
	position: relative;
	color: white;
	font-size: 25px;
}

#list_odrazky {
	list-style-image: url("footer_list_bullet.gif");
	position: relative;
	left: -25px;
	bottom: 5px;
}

.ostatne_predmety {
	text-decoration: none;
	color: #d5a17c;
}


li>a.nav_polozka:hover:after {
	position: absolute;
	display: inline-block;
	top: 20px;
	left: 40%;
	content: url("menu_bullet.gif")
}
li>a.nav_polozka:hover {
	color: white;
}

table, th, tr, td {
	border: 2px solid #000000;
	text-align: center;
	height: 40px;
}
th {
	border-bottom: 1px solid #3c1f0a;
	border-left: 1px dotted #3c1f0a;
	border-top: 1px dotted #3c1f0a;
	border-right: 1px solid #3c1f0a;
  background-color: #d5a17c;
	color: #3c1f0a;
  border-width: 3px;
}
table {
	width: 100%;
  border-width: 3px;
}

tr, td {
	border-top: 1px solid #000000;
  border-bottom: 1px solid #656565; 
  border-left: 1px dotted #ffffff;
  border-right: 1px solid #ffffff;
  border-width: 3px;
}

hr {
	border: 0;
	border-bottom: 2px dotted #d5a17c;
	height: 1px;
}

h3>a, h3 {
	position: relative;
	text-decoration: none;
	color: #3c1f0a;
	display: inline;
}

dl {
  width: 350px;
  overflow: hidden;
}
dt {
	color: white;
	float: left;
}
dd {
	position: relative;
	text-align: right;
	left: 20px;
	width: 250px;
}
dd>a {
	text-decoration: none;
	color: #d5a17c;
}

